* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #150226;
}

.block {
    width: 328px;
    margin: 0 auto;
    background: radial-gradient(88.62% 88.62% at 50% 50%, rgba(113, 74, 226, 0.53) 0%, rgba(69, 32, 176, 0.0583) 100%);
    border-radius: 13px;
}

/* Все заголовки */
.title {
    /* обратить внимание на отступ */
    padding-top: 24px;
    text-align: center;
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

/* весь фиолетовый текст */
.text {
    font-family: 'Raleway';
    font-style: "semi Bold";
    font-weight: 600;
    font-size: 16px;
    line-height: 159.4%;
    color: #AA9EC0;
}

/* маленькая картинка в списках */
.list__img {
    margin-left: 30px;
    margin-right: 20px;
    height: 35px;
}
.elips1{
    background: url(../img/Ellipse\ 1.png);
    position: absolute;
    z-index: -1;
    width: 347px;
height: 347px;
left: -91px;
top: 120px;
background: rgba(89, 47, 175, 0.5);
filter: blur(100px);
}
.elips2{
    background: url(../img/Ellipse\ 2.png);
    position: absolute;
    z-index: -1;
width: 330px;
height: 330px;
left: 194px;
top: 434px;

background: rgba(118, 30, 180, 0.7);
filter: blur(100px);
}
.elips3{
    background: url(../img/Ellipse\ 3.png);
    position: absolute;
    z-index: -1;
width: 194px;
height: 194px;
left: 173px;
top: 700px;

background: rgba(47, 255, 243, 0.72);
filter: blur(100px);
}
.elips2secondPosition{
    width: 330px;
    height: 330px;
    left: -101px;
    top: 1000px;
}
.elips2therdPosition{
    width: 330px;
height: 330px;
left: 195px;
top: 2000px;
}
.elips3secondPosition{
    width: 194px;
height: 194px;
left: -81px;
top: 2400px;
}
/* --------------Меню---------------------- */
.headerMenu {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 0 29px;
    position: relative;
}

.bergerMenuBtn {
    height: 40px;
    margin-right: 33px;
    background-color: transparent;
    border: none;
}

.burgerNav {
    opacity: 0;
    z-index: -1;
    position: absolute;
    width: 199px;
    height: 515px;
    display: flex;
    flex-direction: column;
    right: 0;
    margin-top: 65px;
    background-color: #5C3D90;
    border-radius: 45px 0px 0px 45px;
}

.burgerNav--visible {
    opacity: 1;
    z-index: 2;
}

.bergernav__FirstLink {
    margin-top: 80px;
}

.burgernav__link {
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 44px;
    color: #FFFFFF;
}

.burgernav__link:hover,
.burgernav__link:focus {
    color: rgb(214, 210, 210);
}

/*------------------Первая секция --------------------------- */
.welcome__block {
    width: 328px;
    margin: 0 auto;
    padding-top: 23px;
}

.contactUs_Btn {
    margin-top: 28px;
    padding: 15px 18px;
    background: linear-gradient(263.57deg, #761EB4 0%, #3F17A6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.weHelp__block {
    margin-top: 61px;
    height: 167px;
}

.weHelp__text {
    margin-top: 16px;
    text-align: center;
}

.video__example {
    margin-top: 19px;
    width: 100%;
}

/* -------------------секция 2----------------------------- */
.forwhom__block {
    margin-top: 67px;
    height: 345px;
}

.forwhom__item {
    display: flex;
    flex-direction: row;
    margin-top: 33px;
}

.forwhom__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}

.ourBenefits__block {
    margin-top: 47px;
}

.ourBenefits__description {
    margin-top: 28px;
    margin-bottom: 13px;
}

.ourBenefits__d__title {
    padding-top: 17px;
    padding-left: 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.ourBenefits__list {
    margin: 13px 0 0 31px;
    padding-bottom: 17px;
}

/* ---------------------секция 3---------------------------- */
.studies__block {
    margin-top: 72px;
    height: 345px;
}

.studis__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 38px;
}
.studies__text{
    color: white;
}


.form__block {
    margin-top: 44px;
    height: 479px;
}

.feedbackForm__input {
    margin: 24px 32px 0 30px;
    height: 52px;
    width: 266px;
}

.input__text {
    width: 100%;
    height: 100%;
    background: rgba(32, 9, 98, 0.54);
    border: 1px solid rgba(186, 67, 242, 0.67);
    border-radius: 13px;
}
#radio{
    width: 26px;
    height: 26px;
}
.input__radio {
    display: flex;
    flex-direction: row;
}
.form__link{
    text-decoration: none;
color: rgba(52, 158, 255, 1);
}
.form__link:hover,
.form__link:focus{
    color: rgb(38, 119, 194);
}
.form__label{
    margin-left: 14px;
color: #C4C4C4;
}
.formBtn{
   margin-top: 27px;
   margin-left: 76px;
}

/* подвал */
footer {
    margin-top: 100px;
    background-color: rgba(11, 1, 28, 1);

}

.footer__description {
    padding-top: 18px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.footer__title {
    color: #FFFFFF;
}

.footer__text {
    color: #937EB5;
}
.footer__link{
    margin-top: 5px;
    margin-left: 19px;
    text-decoration: none;
    color:#937EB5;
}
.footer__link:hover,
.footer__link:focus{
    color:#6b588a;
}

.ght {
    display: flex;
    justify-content: end;
}

.rights__text {
    color: rgba(91, 91, 91, 1);
    margin-right: 18px;
    margin-bottom: 26px;
}


/* --------------------------Адаптив--------------------------------------- */