*{
    margin: 0;
    padding: 0;
}
body{
   
    background: #150226;
}
.Ellipse1 {
    position: absolute;
    z-index: -1;
    width: 347px;
    height: 347px;
    left: -91px;
    top: 120px;
    background: rgba(89, 47, 175, 0.5);
    filter: blur(100px);
}

.Ellipse2 {
    position: absolute;
    z-index: -1;
    width: 330px;
    height: 330px;
    left: 194px;
    top: 434px;

    background: rgba(118, 30, 180, 0.7);
    filter: blur(100px);
}
/* -------------------------header---------------------------- */
header{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.logoImg{
    margin: 25px;
}

.burgeBtn{
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    margin-top: 27px;
    margin-right: 33px;
}
.burgerNav{
    opacity: 0;
    position: absolute;
    width: 199px;
    height: 515px;
    display: flex;
    flex-direction: column;
    right: 0;
    margin-top: 65px;
    z-index: 2;
    background-color: #5C3D90;
    border-radius: 45px 0px 0px 45px;
}
.burgerNav--visible{
   opacity: 1;
}
.bergernav__FirstLink {
    margin-top: 80px;
}

.burgernav__link {
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 44px;
    color: #FFFFFF;
}
.burgernav__link:hover,
.burgernav__link:focus{
    color: rgb(214, 210, 210);
}

/*  */

.title__header{
    margin-bottom:15px;
    margin-left: 29px;
    color: white;
}
.title__text{
    margin-left: 29px;
    color: #B3A8C9;
}
.contactUsBtn {
    cursor: pointer;
    margin-top: 28px;
    margin-left: 29px;
    padding: 15px 18px 14px 18px;
    border-radius: 13px;
    border: none;
    background: linear-gradient(263.57deg, #761EB4 0%, #3F17A6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* настройка текста в кнопке */
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.contactUsBtn:hover,
.contactUsBtn:focus{
    background: linear-gradient(263.57deg, #651a9b 0%, #3e189f 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.weHelp {
    width: 328px;
    margin: 0 auto;
    margin-top: 61px;
    text-align: center;
    background: radial-gradient(88.62% 88.62% at 50% 50%, rgba(113, 74, 226, 0.53) 0%, rgba(69, 32, 176, 0.0583) 100%);
    border-radius: 13px;
}
.weHelp__title {
    padding-top: 24px;
    padding-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: white;
}
.weHelp__text{
    padding: 0 14px 22px 12px;
    color: #AA9EC0;
}
.demonstration__title {
    margin-top: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.demonstrationVideo{
    width: 332px;
    margin: 0 auto;
    display: block;
    margin-top: 24px;
}
/*  */
