* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #150226;
}

.block {
    width: 328px;
    margin: 0 auto;
}

/* --------------Меню---------------------- */
.headerMenu {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 0 29px;
    position: relative;
}

.bergerMenuBtn {
    height: 40px;
    margin-right: 33px;
    background-color: transparent;
    border: none;
}
.burgerNav{
    opacity: 0;
    z-index: -1;
    position: absolute;
    width: 199px;
    height: 515px;
    display: flex;
    flex-direction: column;
    right: 0;
    margin-top: 65px;
    background-color: #5C3D90;
    border-radius: 45px 0px 0px 45px;
}
.burgerNav--visible{
   opacity: 1;
   z-index: 2;
}
.bergernav__FirstLink {
    margin-top: 80px;
}

.burgernav__link {
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 44px;
    color: #FFFFFF;
}
.burgernav__link:hover,
.burgernav__link:focus{
    color: rgb(214, 210, 210);
}

/*------------------Первая секция --------------------------- */
.section1 {
    margin-top: 23px;
}

/* --------------------приветствие---------------------------- */
.welcome__title {
    color: white;
}

.welcome__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #B3A8C9;
}

.contaactUs_Btn {
    margin-top: 28px;
    padding: 15px 18px 14px 18px;
    background: linear-gradient(263.57deg, #761EB4 0%, #3F17A6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* ---------------Мы помогаем-------------------------- */
.weHelp {
    margin-top: 61px;
    height: 167px;
    background: radial-gradient(88.62% 88.62% at 50% 50%, rgba(113, 74, 226, 0.53) 0%, rgba(69, 32, 176, 0.0583) 100%);
    border-radius: 13px;
}

.weHelp__title {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.weHelp__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #AA9EC0;
}

/* -------------------Видео---------------------------------- */
.video {
    margin-top: 55px;
}

.video__title {
    margin-bottom: 19px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.video__example {
    width: 100%;
}

/* -----------------------секция 2------------------------------------- */
.section2 {
    margin-top: 67px;
}

/* ----------------------Для кого--------------------------------- */
.forWhom {
    height: 345px;
    background: radial-gradient(88.62% 88.62% at 50% 50%, rgba(113, 74, 226, 0.53) 0%, rgba(69, 32, 176, 0.0583) 100%);
    border-radius: 13px;
}

.forWhom__title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 33px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.forWhom__list {
    list-style: none;
    margin-left: 30px;
}

.forWhom__item {
    display: flex;
    flex-direction: row;
    height: 35px;
    margin-bottom: 44px;
}

.forWhom__item-Description {
    margin-left: 20px;
    text-align: center;
}

.description__title {
    margin-bottom: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.description__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #AA9EC0;
}

/* -----------------наши преймущества----------------------- */
.ourBenefits {
    margin-top: 47px;
}

.ourBenefits__title {
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.ourBenefits__description1 {
    margin-top: 28px;
    height: 144px;
    background: radial-gradient(88.62% 88.62% at 50% 50%, rgba(113, 74, 226, 0.53) 0%, rgba(69, 32, 176, 0.0583) 100%);
    border-radius: 13px;
}

.ourBenefits__description2 {
    margin-top: 13px;
    margin-bottom: 23px;
    height: 169px;
    background: radial-gradient(88.62% 88.62% at 50% 50%, rgba(113, 74, 226, 0.53) 0%, rgba(69, 32, 176, 0.0583) 100%);
    border-radius: 13px;
}

.ourBenefits__d__title {
    padding: 17px 0 13px 31px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.ourBenefits__list {
    margin: 0 0 17px 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 159.4%;
    color: #AA9EC0;
}

/* -------------------Секция3---------------------- */
.section3 {
    margin-top: 49px;
}

/* -------------------Исследования------------------------------ */
.studies {
    height: 345px;
    background: radial-gradient(88.62% 88.62% at 50% 50%, rgba(113, 74, 226, 0.53) 0%, rgba(69, 32, 176, 0.0583) 100%);
    border-radius: 13px;
}

.studies__title {
    text-align: center;
    padding-top: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.studies__list {
    margin: 38px 31px 30px 50px;
    list-style: none;
}

.studis__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.studies__text {
    margin-left: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* -----------------------Форма отбратной связи----------------------------- */
.feedbackForm {
    height: 479px;
    margin-top: 44px;
    margin-bottom: 99px;
    background: radial-gradient(88.62% 88.62% at 50% 50%, rgba(113, 74, 226, 0.53) 0%, rgba(69, 32, 176, 0.0583) 100%);
    border: 1px solid #CD40FF;
    border-radius: 13px;
}

.feedbackForm__title {
    text-align: center;
    padding-top: 36px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

/* ----------------------Подвал------------------------- */
.footer__block {
    margin-bottom: 10px;
    width: 100%;
    display: grid;
    background-color: #0B011C;
}

.footer__description {
    display: flex;
    flex-direction: row;
    margin-top: 19px;
    margin-left: 20px;
}

.footer__title {
    color: white;
}

.first-grid {
    margin-left: 5px;
}

.footer__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    color: #937EB5;
}

.footer__link {
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #937EB5;
}
.footer__link:hover,
.footer__link:focus{
    color: #5f4785;
}

.ght{
    justify-content: end;
}
.rights__text {
    margin: 0 18px 26px 0;
    
   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #5B5B5B;
}