* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #150226;
}

.block {
    width: 328px;
    margin: 0 auto;
    background: radial-gradient(88.62% 88.62% at 50% 50%, rgba(113, 74, 226, 0.53) 0%, rgba(69, 32, 176, 0.0583) 100%);
    border-radius: 13px;
}

/* Все заголовки */
.title {
    /* обратить внимание на отступ */
    margin-bottom: 37px;
    padding-top: 24px;
    text-align: center;
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

/* весь фиолетовый текст */
.text {
    font-family: 'Raleway';
    font-style: "semi Bold";
    font-weight: 600;
    font-size: 16px;
    line-height: 159.4%;
    color: #AA9EC0;
}

/* настройка списков */
.list {
    margin-left: 30px;
}

.list__text {
    margin-left: 20px;
    color: white;
}

.list__img {
    width: 34px;
    height: 35px;
}

.elips1 {
    background: url(../img/Ellipse\ 1.png);
    position: absolute;
    z-index: -1;
    width: 165px;
    height: 347px;
    left: -91px;
    top: 120px;
    background: rgba(89, 47, 175, 0.5);
    filter: blur(100px);
}

.elips2 {
    background: url(../img/Ellipse\ 2.png);
    position: absolute;
    z-index: -1;
    width: 165px;
    height: 330px;
    left: 194px;
    top: 434px;

    background: rgba(118, 30, 180, 0.7);
    filter: blur(100px);
}

.elips3 {
    background: url(../img/Ellipse\ 3.png);
    position: absolute;
    z-index: -1;
    width: 194px;
    height: 194px;
    left: 173px;
    top: 700px;

    background: rgba(47, 255, 243, 0.72);
    filter: blur(100px);
}

.elips2secondPosition {
    left: -101px;
    top: 1000px;
}

.elips2therdPosition {
    left: 195px;
    top: 2000px;
}

.elips3secondPosition {
    left: -81px;
    top: 2400px;
}

/* --------------Меню---------------------- */
.headerMenu {
    display: flex;
    flex-direction: row;
    margin: 25px 0 0 29px;
    position: relative;
}

.bergerMenuBtn {
    height: 40px;
    margin-right: 33px;
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
}

.burgerNav {
    opacity: 0;
    z-index: -1;
    position: absolute;
    width: 199px;
    height: 515px;
    display: flex;
    flex-direction: column;
    right: 0;
    margin-top: 65px;
    background-color: #5C3D90;
    border-radius: 45px 0px 0px 45px;
}

.burgerNav--visible {
    opacity: 1;
    z-index: 2;
}

.bergernav__FirstLink {
    margin-top: 80px;
}

.burgernav__link {
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 44px;
    color: #FFFFFF;
}

.burgernav__link:hover,
.burgernav__link:focus {
    color: rgb(214, 210, 210);
}

/*------------------Первая секция --------------------------- */
.welcome__block {
    width: 328px;
    margin: 0 auto;
    padding-top: 23px;
}
.welcom__img{
    width: 156px;
    height: 28px;
}
.contactUs_Btn {
    margin-top: 28px;
    padding: 15px 18px;
    background: linear-gradient(263.57deg, #761EB4 0%, #3F17A6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.weHelp__block {
    margin-top: 61px;
    height: 167px;
}

.weHelp__text {
    margin-top: 16px;
    text-align: center;
}

.video__example {
    margin-top: 19px;
    width: 100%;
}

/* -------------------секция 2----------------------------- */
.forwhom__block {
    margin-top: 67px;
    height: 345px;
}

/* .forwhom__list{
margin-left: 30px;
} */
.forwhom__item {
    display: flex;
    flex-direction: row;
    margin-top: 33px;
}

.forwhom__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.ourBenefits__block {
    margin-top: 47px;
}

.ourBenefits__description {
    margin-top: 28px;
    margin-bottom: 13px;
}

.discription__block {
    margin-left: 31px;
}

.ourBenefits__d__title {
    padding: 17px 0 0 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.ourBenefits__list {
    margin: 13px 0 0 31px;
    padding-bottom: 17px;
}

/* ---------------------секция 3---------------------------- */
.studies__block {
    margin-top: 72px;
    height: 345px;
}

.studis__item {
    display: flex;
    flex-direction: row;
    margin: 38px 0 50px 0;
}

.form__block {
    margin-top: 44px;
    height: 479px;
}

.form__inputs {
    width: 266px;
    margin: 0 auto;
}

.input {
    margin-bottom: 24px;
}

.form__input {
    width: 100%;
    height: 52px;
    background: rgba(32, 9, 98, 0.54);
    border: 1px solid rgba(186, 67, 242, 0.67);
    border-radius: 13px;
}

.input__radio {
    display: flex;
    flex-direction: row;
}

#radio {
    width: 26px;
    height: 26px;
    margin-right: 14px;
}

.form__btn {
    margin-left: 40px;
}

/* подвал */
footer {
    margin-top: 100px;
    background-color: rgba(11, 1, 28, 1);

}
.footer__welcomImg{
    width: 200px;
    height: 68px;
}
.footer__description {
    padding: 18px 0 0 20px;
    display: flex;
    flex-direction: row;
}

.footer__title {
    color: #FFFFFF;
}

.footer__text {
    color: #937EB5;
}

.footer__link {
    margin: 5px 0 0 19px;
    text-decoration: none;
    color: #937EB5;
}

.footer__link:hover,
.footer__link:focus {
    color: #6b588a;
}

.ght {
    display: flex;
    justify-content: end;
}

.rights__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: rgba(91, 91, 91, 1);
    margin: 0 18px 26px 0;
}


/* --------------------------Адаптив--------------------------------------- */
.desctop__menu {
    display: none;
    width: 954px;
    margin: 0 auto;
}

.desctop__menuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.desctop__items {
    display: inline-block;
    margin-right: 24px;
}

.desctop__link {
    padding: 16px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.desctop__link:hover,
.desctop__link:focus {
    background: rgba(103, 100, 255, 0.23);
    border: 1px solid rgba(194, 117, 255, 0.54);
    border-radius: 13px;
}
.fullscrean__logo{
    display: none;
}
@media(min-width:768px) {
    .bergerMenuBtn {
        display: none;
    }

    /* меню */
    .desctop__menu {
        display: block;
        width: 600px;
    }

    .desctop__link {
        padding: 10;
        font-size: 14px;
        line-height: 18px;

    }

    .desctop__items {
        margin-right: 10px;
    }


    /* текст */
    .title {
        /* разобраться с этим отсупом 101, едет блок: мы помогаем */
        margin: 64px 0 101px 0;
        /* обратить внимание на отступ */
        font-size: 24px;
        line-height: 35px;
    }

    .text {
        /* font-size: 36px;
            line-height: 42px; */
        font-size: 17px;
        line-height: 17px;
    }

    .forwhom__title {
        font-size: 22px;
        line-height: 24px;
    }

    .list__text {
        /* не по макету */
        margin-left: 50px;
        color: white;
    }

    /* картинки */
    .list__img {
        width: 60px;
        height: 60px;
    }

    .fullscrean__logo {
        display: block;
        width: 200px;
        height: 200px;
    }

    /* основной блок */
    .block {
        width: 500px;
    }

    /* приветственный блок */
    .welcome__block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 68px;
    }

    .img__block {
        /* охуенно огромная фотка выставить ей отступы
             */
        margin: 0 40px 0 300px;
    }

    /* блок мы помогаем */
    .weHelp__block {
        /* надо бдует поменять */
        height: 267px;
    }

    /* блоки со списками */
    .forwhom__block,
    .studies__block {
        height: 500px;
    }

    .list {
        margin-left: 40px;
    }

    /* .forwhom__item {
        margin-bottom: 50px;
    } */
    .forwhom__item,
    .studis__item {
        /* margin-left: 100px; */
        margin-bottom: 60px;
    }

    /* наши преймущества */
    .ourBenefits__description {
        height: 150px;
    }

    .discription__block {
        margin-left: 50px;
    }

    .ourBenefits__description1 {
        height: 154px;
    }


    .ourBenefits__d__title {
        font-size: 20px;
        line-height: 27px;
    }

    /* настройка формы */

    .form__block {
        height: 600px;
    }

    .form__inputs {
        width: 400px;
        margin: 0 auto;
    }

    .input {
        margin-bottom: 24px;
    }

    .form__input {
        width: 100%;
        height: 60px;
        background: rgba(32, 9, 98, 0.54);
        border: 1px solid rgba(186, 67, 242, 0.67);
        border-radius: 13px;
    }

    .input__radio {
        display: flex;
        flex-direction: row;
    }

    #radio {
        width: 34px;
        height: 34px;
        margin-right: 32px;
    }

    .form__btn {
        margin-left: 100px;
    }

    /* footer */
    .footer__block {
        height: 500px;
    }
    

    footer {
        margin-top: 100px;
        background-color: rgba(11, 1, 28, 1);

    }

    .footer__description {
        padding: 18px 0 44px 73px;
        display: flex;
        flex-direction: row;
    }

    .footer__welcomImg {
        width: 300px;
        height: 110px;
    }

    .footer__title {
        color: #FFFFFF;
    }

    .footer__text {
        color: #937EB5;
    }

    .footer__link {
        margin: 5px 0 0 19px;
        text-decoration: none;
        color: #937EB5;
    }

    .footer__link:hover,
    .footer__link:focus {
        color: #6b588a;
    }

    .ght {
        display: flex;
        justify-content: end;
    }

    .rights__text {
        font-size: 20px;
        line-height: 27px;
        margin: 0 18px 26px 0;
    }

    .footer__img {
        width: 60px;
        height: 60px;
    }

    /* кнопки */
    .contactUs_Btn {
        width: 200px;
        height: 60px;
        padding: 15px 18px;
        font-size: 17px;
        line-height: 17px;
    }
}
@media(min-width:1200px){
    /* меню */
    /* .desctop__menu {
        width: 600px;
    } */

    .desctop__link {
        padding: 10;
        font-size: 14px;
        line-height: 18px;

    }

    .desctop__items {
        margin-right: 18px;
    }


    /* текст */
    .title {
        /* разобраться с этим отсупом 101, едет блок: мы помогаем */
        margin: 64px 0 101px 0;
        /* обратить внимание на отступ */
        font-size: 64px;
        line-height: 75px;
    }

    .text {
        /* font-size: 36px;
    line-height: 42px; */
        font-size: 40px;
        line-height: 47px;
    }

    .forwhom__title {
        font-size: 48px;
        line-height: 58px;
    }

    .list__text {
        /* не по макету */
        margin-left: 100px;
        color: white;
    }

    /* картинки */
    .welcom__img{
        width: 518px;
        height: 94px;
    }
    .list__img {
        width: 99px;
        height: 103px;
    }


    .fullscrean__logo {
        width: 423px;
        height: 423px;
    }

    /* основной блок */
    .block {
        width: 954px;
    }


    /* приветственный блок */
    .welcome__block {
        margin-top: 68px;
    }


    .img__block {
        margin: 0 90px 0 100px;
    }


    /* блок мы помогаем */
    .weHelp__block {
        height: 352px;
    }


    /* блоки со списками */
    .forwhom__block,
    .studies__block {
        height: 1003px;
    }


    .list {
        margin-left: 87px;
    }


    /* .forwhom__item {
        margin-bottom: 50px;
    } */
    .forwhom__item,
    .studis__item {
        /* margin-left: 100px; */
        margin-bottom: 162px;
    }

    /* наши преймущества */
    .ourBenefits__description {
        height: 386px;
    }


    .discription__block {
        margin-left: 106px;
    }


    .ourBenefits__description1 {
        height: 454px;
    }



    .ourBenefits__d__title {
        font-size: 40px;
        line-height: 47px;
    }


    /* настройка формы */

    .form__block {
        height: 1331px;
    }

    .form__inputs {
        width: 757px;
        margin: 0 auto;
    }


    .input {
        margin-bottom: 68px;
    }


    .form__input {
        width: 100%;
        height: 146px;
        background: rgba(32, 9, 98, 0.54);
        border: 1px solid rgba(186, 67, 242, 0.67);
        border-radius: 13px;
    }


    .input__radio {
        display: flex;
        flex-direction: row;
    }


    #radio {
        width: 74px;
        height: 74px;
        margin-right: 32px;
    }


    .form__btn {
        margin-left: 150px;
    }


    /* footer */
    .footer__block {
        height: 717px;
    }



     footer {
        margin-top: 100px;
        background-color: rgba(11, 1, 28, 1);

    }

    .footer__description {
        padding: 18px 0 44px 73px;
        display: flex;
        flex-direction: row;
    }

    .footer__welcomImg {
        width: 738px;
        height: 250px;
    }

    .footer__title {
        color: #FFFFFF;
    }

    .footer__text {
        color: #937EB5;
    }

    .footer__link {
        margin: 5px 0 0 19px;
        text-decoration: none;
        color: #937EB5;
    }

    .footer__link:hover,
    .footer__link:focus {
        color: #6b588a;
    }

    .ght {
        display: flex;
        justify-content: end;
    }

    .rights__text {
        font-size: 40px;
        line-height: 47px;
        margin: 0 18px 26px 0;
    }

    .footer__img {
        width: 106px;
        height: 106px;
    }
     .contactUs_Btn {
        width: 392px;
        height: 109px;
        padding: 33px 30px;
        font-size: 36px;
        line-height: 42px;
    }
    .contactUs_Btn {
        width: 392px;
        height: 109px;
        padding: 33px 30px;
        font-size: 36px;
        line-height: 42px;
    }
}
@media(min-width:1438px) {
    /* текст */
    .title {
        /* разобраться с этим отсупом 101, едет блок: мы помогаем */
        margin: 64px 0 101px 0;
        /* обратить внимание на отступ */
        font-size: 64px;
        line-height: 75px;
    }

    .text {
        /* font-size: 36px;
        line-height: 42px; */
        font-size: 32px;
        line-height: 38px;
    }

    .forwhom__title {
        font-size: 48px;
        line-height: 58px;
    }

    .list__text {
        /* не по макету */
        margin-left: 100px;
        color: white;
    }

    /* настрройки блоков */
    .block {
        width: 954px;
    }

    .welcome__block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 68px;
    }

    .list {
        margin-left: 87px;
    }

    .ourBenefits__d__title {
        font-size: 40px;
        line-height: 47px;
    }

    .weHelp__block {
        height: 352px;
    }

    .forwhom__block,
    .studies__block {
        height: 1003px;
    }

    .discription__block {
        margin-left: 106px;
    }

    .ourBenefits__description {
        height: 386px;
    }

    .ourBenefits__description1 {
        height: 454px;
    }

    .form__block {
        height: 1331px;
    }

    .footer__block {
        height: 717px;
    }

    /* настройки отступов */
    .forwhom__item {
        margin-bottom: 126px;
    }


    .studis__item {
        /* margin-left: 100px; */
        margin-bottom: 171px;
    }


    /* картинки */
    .list__img {
        width: 99px;
        height: 103px;
    }

    .img__block {
        margin: 0 145px 0 200px;
    }

    /* кнопки */
    .contactUs_Btn {
        width: 392px;
        height: 109px;
        padding: 33px 30px;
        font-size: 36px;
        line-height: 42px;
    }

    /* настройка формы */


    .form__inputs {
        width: 757px;
        margin: 0 auto;
    }

    .input {
        margin-bottom: 68px;
    }

    .form__input {
        width: 100%;
        height: 146px;
        background: rgba(32, 9, 98, 0.54);
        border: 1px solid rgba(186, 67, 242, 0.67);
        border-radius: 13px;
    }

    .input__radio {
        display: flex;
        flex-direction: row;
    }

    #radio {
        width: 74px;
        height: 74px;
        margin-right: 32px;
    }

    .form__btn {
        margin-left: 40px;
    }

    /* footer */
    footer {
        margin-top: 100px;
        background-color: rgba(11, 1, 28, 1);

    }

    .footer__description {
        padding: 18px 0 44px 73px;
        display: flex;
        flex-direction: row;
    }

    .footer__welcomImg {
        width: 738px;
        height: 250px;
    }

    .footer__title {
        color: #FFFFFF;
    }

    .footer__text {
        color: #937EB5;
    }

    .footer__link {
        margin: 5px 0 0 19px;
        text-decoration: none;
        color: #937EB5;
    }

    .footer__link:hover,
    .footer__link:focus {
        color: #6b588a;
    }

    .ght {
        display: flex;
        justify-content: end;
    }

    .rights__text {
        font-size: 40px;
        line-height: 47px;
        margin: 0 18px 26px 0;
    }

    .footer__img {
        width: 106px;
        height: 106px;
    }
}